<%- include("header") -%>

<% const {comments, title, body, _id, date, username} = foundPost %>


<section id="forumPost">

  <a href="/forums" class="fa fa-arrow-circle-left" style="font-size:48px;color:white"></a>

  <div class="container forum-post">

    <div class="forum username">
      <i><%=username.username%><i>
        <hr>
          <% var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
          <% var d = new Date(); %>
          <% var dayName = days[d.getDay()]; %>
          <p>Posted on: <%= dayName  %> <%=date.toLocaleTimeString();  %> <%= d.getFullYear(); %></p>
    </div>

    <div class="forum">
      <h3 class="forum-post-title"><%=title%></h3>
      <hr class="forum-title-hr">
      <p class="post-body"><%=body%></p>
    </div>


<% for(i=0;i<comments.length; i++) { %>

      <div class="forum username">
          <i><%=postComments[i].commentUsername%></i>
          <hr>
          <p>Commented on: <%= postComments[i].date.toLocaleTimeString('default', { month: 'long'}); %> <%= postComments[i].date.getFullYear(); %> <%= days[postComments[i].date.getDay()]; %> </p>
        </div>
      <div class="forum">
          <h3 class="forum-post-title hide">HIDE</h3>
          <p class="post-body"><%=postComments[i].body%></p>
          <% if (currentUser.username === postComments[i].commentUsername){ %>
          <form class="delete-button" method="post" action=<%="/forums/" + _id + "/delete"%>>
            <button type="submit" name="button" value=<%=postComments[i]._id%>><i class="fa fa-trash" aria-hidden="true"></i></button>
          </form>
      <%  }; %>
      </div>



    <% }; %>
</div>




    <form class="composeForm forum commentText" action="/forums/<%=_id%>" method="post">
      <div class="form-group">
        <br>
        <textarea minlength="20" maxlength="2000" class="form-control" rows="5" name="postComment" placeholder="Add a comment." required></textarea>
      </div>
      <div class="form-group">
        <button class="forum-button btn btn-outline-light" type="submit">Comment</button>
      </div>
    </form>


  <div>
    <img class="background-img" src="/images/classicrag.jpg" alt="">
  </div>

  <p class="credit">Crown © <%= year %></p>

</section>





<script src="/index.js" charset="UTF=8"></script>




<%- include("footer") -%>
