<%- include("header"); -%>



<section id="forums">



  <div class="container forum-post">
    <% if (foundPosts && foundPosts.length>0) { %>
    <% foundPosts.forEach(post => { %>
    <% const {username, title, body, _id} = post %>

    <div class="forum username">
      <i><%=username.username%></i>
    </div>

      <div class="forum title">
        <a class="title" href=<%= "/forums/" + _id + "/"%>>
          <% if (title.length > 70 ){ %>
          <%= title.substring(0, 71) %>...
          <%  } else { %>
          <%= title %>
          <%  }  %>
        </a>
    </div>
    <% }); %>
    <% }; %>
    <form class="composeForm forum" action="/forums" method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" minlength="5" maxlength="200" class="form-control" name="postTitle" placeholder="Add a title." required>
      </div>
      <div class="form-group">
        <label>Text</label>
        <textarea minlength="20" maxlength="2000" class="form-control" rows="5" name="postBody" placeholder="Compose your post." required></textarea>
      </div>
      <div class="form-group">
        <button class="forum-button btn btn-outline-light" type="submit" name="button">Create Post</button>
      </div>
    </form>
  </div>
  <div>
    <img class="background-img" src="images/classicrag.jpg" alt="">
  </div>
  <p class="credit">Crown © <%= year %></p>

</section>




<%- include("footer"); -%>
