
<%- include("header"); -%>


<section id="forums">

  <div class="container forum-post">
  <% if (foundPosts && foundPosts.length>0) { %>
    <% foundPosts.forEach(post => { %>
      <% const {username, title, body} = post %>
        <div class="forum username">
          <i><%=username.username%></i>
        </div>
         <div class="forum title">
          <% if (title.length > 80 ){ %>
           <%= title.substring(0, 81) %>...
      <%   } else { %>
           <%= title %>
      <%   }  %>
         </div>
      <% }); %>
  <% }; %>
    <form class="composeForm forum" action="/forums" method="post">
      <div class="form-group">
<<<<<<< HEAD
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" minlength="5" maxlength="100" class="form-control" name="postTitle">
=======
        <label>Title</label>
        <input type="text" minlength="5" maxlength="200" class="form-control" name="postTitle" placeholder="Add a title.">
>>>>>>> 75c346356b4181f3a9276300f8f9f5cecd9b3eba
      </div>
      <div class="form-group">
        <label>Text</label>
        <textarea minlength="20" maxlength="2000" class="form-control" rows="5" name="postBody" placeholder="Compose your post."></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-light" type="submit" name="button">Create Post</button>
      </div>
    </form>
  </div>
  <div>
    <img class="background-img" src="images/classicrag.jpg" alt="">
  </div>
  <p class="credit">Crown © <%= year %></p>
</section>




<%- include("footer"); -%>
