<%- include("header") -%>

  <section id="homepage">
    <div class="header">

      <!-- HEADINGS -->

      <div class="guild-name-container">
        <h1>Crown</h1>
      </div>
      <div class="guild-slogan-container">
        <h5>Classic WoW Guild</h5>
      </div>
      <div class="join-now-button">
     <% if (!currentUser) { %>
           <a href="#join" class="btn btn-outline-light">Join Now</a>

    <%  } else { %>
           <h1>Welcome <%=currentUser.username%></h1>
    <%  } %>

      </div>
      <img class="background-img" src="images/wsg.jpg" alt="">
    </div>
  </section>

<%- include("join") -%>

<%- include("socials") -%>

<%- include("footer") -%>
