<%- include("header") -%>

<section id="home">

  <div class="header">

    <!-- Guild name -->
    <div class="guild-name-container">
      <h1>Crown</h1>
    </div>

    <!-- Guild description -->
    <div class="guild-slogan-container">
      <h5>Classic WoW Guild</h5>
    </div>

    <!-- Join button/Welcome text -->
    <div class="join-now-button">
      <% if (!currentUser) { %>
      <a href="#join" class="btn btn-outline-light">Join Now</a>
      <%  } else { %>
      <h1>Welcome <%=currentUser.username%></h1>
      <%  } %>
    </div>

    <!-- Background Image -->
    <img class="background-img" src="images/wsg.jpg" alt="">

  </div>

</section>

<%- include("join") -%>

<%- include("socials") -%>

<%- include("footer") -%>
